body{
    background-color: #f04242;
    margin: 0px;
    padding: 0px;
}
.home{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto auto ;
}
